<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.proton.ecgpatch.connector">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <service android:name="com.proton.ecgpatch.connector.utils.DFUService"/>
    </application>
</manifest>
